name: Nodejs CI

on:
  workflow_dispatch:
  push:
    branches: 
      - master

jobs:
  buildingjob:
    name: Build Job
    runs-on: self-hosted
    

    steps:
    - uses: actions/checkout@v1
    
    - name: 'Build extentions'
      run: |
           echo Hello
           if [ -f extensions.csproj ]
           then
            dotnet build extensions.csproj --output ./bin
           fi
      
    - name: Use Node.js 10.14.1
      uses: actions/setup-node@v1
      with:
        node-version: '10.14.1'
    
    - name: Install dependencies
      run: npm install
    
    - name: Build App & Remove Extraneous packages
      run: |
        npm run build --if-present
        npm prune --production
  deployjob:
    needs: buildingjob
    runs-on: self-hosted
    steps:
      - name: testing runner
        run: |
          cd C:\tomcat
          mkdir TestFolder
   # - name: Publish Artifacts
    #  uses: actions/upload-artifact@v1.0.0
     # with:
      #  name: 'drop'
       # path: $GITHUB_WORKSPACE 
        
