name: Nodejs CI

on:
  push:
    branches: 
      - master

jobs:
  buildingjob:
    name: Build Job
    runs-on: ubuntu-latest
    

    steps:
    - uses: actions/checkout@v1
    
    - name: 'Build extentions'
      run: |
           if [ -f extensions.csproj ]
           then
            dotnet build extensions.csproj --output ./bin
           fi
      
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: '10.14.1'
    
    - name: Install dependencies
      run: npm install
    
    - name: Build App & Remove Extraneous packages
      run: |
        npm run build --if-present
        npm prune --production
      
    
    #- name: Publish Artifacts
     # uses: actions/upload-artifact@v1.0.0
      #with:
       # name: 'drop'
        #path: '/' 
        
